APP_NAME=EBank
# local/dev/production  多种队列环境配置
APP_ENV=local
APP_KEY=base64:qZZwFroRtmusaW439xrESJAqVc5m3Bd8sKpdN1DHJ+k=
APP_DEBUG=true
APP_LOG=daily
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=ebank
DB_USERNAME=root
DB_PASSWORD=123456

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_DRIVER=redis
FILESYSTEM_DRIVER=public

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mxhichina.com
MAIL_PORT=465
MAIL_USERNAME=xxx@xxx.com
MAIL_PASSWORD=123456
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=xxx@xxx.com
MAIL_FROM_NAME=EBank

# sentry 错误统计平台,请申请 https://sentry.io 账号或使用 github 上的 sentry 项目自行搭建
SENTRY_DSN=

# 微信系列配置
WECHAT_APPID=wxa65791126909bxxx
WECHAT_MCHID=1462437xxx
WECHAT_KEY=f4b65ee90524f2d7d5b95a5eec43xxx
WECHAT_SECRET=e5675f4d7fc226d38586f396f1356xxx
WECHAT_TOKEN=4E8F794089B6B4EF55CD0399DCA14xxx
WECHAT_AESKEY=

# 支付宝支付appid，证书文件在 app/Libraries/alipay_sdk/pem 下自行按格式生成填充，不能直接使用(支付宝验证了唯一)
ALIPAY_APPID=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
