# ---> Laravel
/bootstrap/compiled.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
.env.*.php
.env.php
.env
.installed
npm-debug.log
/package-lock.json
/vendor
/node_modules
/.idea
/public/storage
/storage/laravels.pid

