# ---> Laravel
/bootstrap/compiled.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
.env.*.php
.env.php
.env
.installed
npm-debug.log
/vendor
/node_modules
/.idea
/public/export
/public/storage

